@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/********** Document wide **********/
* {font-family: 'Source Sans Pro' , 'Arial'; }

/********** Navigation bar **********/
nav {
  z-index:1;
  height: 35px;
  top: 0px;
  left: 0px;
  background-color: #000;
  width: 100%;
  position: fixed;
  text-align: center;
}

a {
  text-decoration: none;
}

/********** Headings **********/
h2, h3, h4 {
  font-size: 100%;
  text-align: center;
  margin: 0px 0px;
}

/********** Body **********/
body {
  margin: 40px 0px;
}

p {
  margin: 0px;
}

#content {
  max-width: 940px;
  width: 70%;
  margin: 0 15% 0 15%;
  line-height: 2em;
}

text {
  font-size: 70%;
}

/********** D3 **********/

#graphEmployment, #graphLaborForce {
  display: inline;

}
.xaxis, .yaxis, .label {
  font-size: 90%;
}

.graphFootnote {
  line-height: 1.5em;
  margin: 10px;
  text-align: center;
  font-size: 80%
}

.axis path,
.axis line {
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #377eb8;
  stroke-width: 2;
}

/********** PANELS **********/
.tab-panel { display: none;}

.tab-panel.active {
  display: block;
  text-align: center;
}

.tab-panel p { margin: 20px;}

.tab-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tab-list li{
  display: inline-table;
  text-align: center;
  list-style: none;
  border-bottom: 3px;
  color: #000;
}

.tab-list a {
 color: #000;
 text-decoration: none; 
 padding: 0px 15px 0px;
 display: block;
 list-style: none;
}

/********** Mobile compatibility **********/
@media only screen and (max-width: 960px) {

  #content {
    width: 80%;
    margin: 0 10% 0 10%;
    line-height: 2em;
  }
  
}

@media only screen and (max-width: 500px) {

  /*nav { display: none; }*/

  #content {
    width: 94%;
    margin: 0 3% 0 3%;
    line-height: 2em;
  }
